# .VIM SNIPPETS ---

# ----------------------
snippet nno "nnoremap" b
nnoremap
endsnippet
# ----------------------

# ----------------------
snippet cr "CR" w
<CR>
endsnippet
# ----------------------
